<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GU Grant a Wish - Admin</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>

<body>
    <div class='header'>
        <span>Welcome, {{ user.name }}</span>
        <span class='right'><a href='/'>Back to main site</a></span>
    </div>
    <div class='body-content'>

        {% if wishCreated %}
        <p>Wish created successfully.</p>
        {% endif %}

        {% if wishDeleted %}
        <p>Wish deleted successfully.</p>
        {% endif %}

        {% if orderDeleted %}
        <p>Order deleted successfully.</p>
        {% endif %}

        <h1>Admin</h1>
        <details>
            <summary>
                Add a new wish
            </summary>

            <div class='details-body'>
                <form method=POST action='/admin/new-wish'>
                    <div class='form-group'>
                        <label for=new-wish-title>Title</label>
                        <input id=new-wish-title type=text required name=new-wish-title>
                    </div>
                    <div class='form-group'>
                        <label for=new-wish-price>Price (rupees)</label>
                        <input id=new-wish-price type=number required name=new-wish-price min=0 step=1 validate='\d+'>
                    </div>
                    <div class='form-group'>
                        <label for=new-wish-desc>Description</label>
                        <textarea id=new-wish-desc name=new-wish-desc></textarea>
                    </div>
                    <div class='form-group submit-group'>
                        <input type=submit value=Create>
                    </div>
                </form>
            </div>
        </details>
        <details>
            <summary>Orders</summary>
            <div class="details-body">
                <ul>
                    <li><a href='/admin'>Show all orders</a></li>
                    <li><a href='/admin?status=pending'>Show only pending orders</a></li>
                    <li><a href='/admin?status=complete'>Show only completed orders</a></li>
                </ul>
                </form>
                {% if orders.length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Items</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>₹{{ order.amount }}</td>
                            <td>
                                <ul class='order-items'>
                                    {% for item in order.items %}
                                    <li class='order-item'>
                                        <a class='order-link' href='/wishes/{{ item }}' title='{{ item }}'>{{ item
                                            }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ order.user }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                <ul>
                                    <li class='order-item'>
                                        <a href='/cart/delete-order/{{ order.uuid }}'>Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {%else%}
                No orders found
                {% endif %}
            </div>
        </details>
    </div>
</body>

</html>