<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GU Grant a Wish - Cart</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/cart.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>

<body>
    <div class='header'>
        <span>Welcome, {{ user.name }}</span>
        <span class='right'><a href='/'>Back</a></span>
    </div>

    <div class='body-content'>
        <h1>
            Cart ({{ cartItems.length }} {% if cartItems.length != 1 %}items{% else %}item{% endif %})
        </h1>

        {% if orderDeleted %}
        <p>
            Order deleted successfully.
        </p>
        {%endif%}

        <div class='wishes'>
            {% if cartItems.length > 0 %}
            <div class='wishes'>
                {% for wish in cartItems %}
                <div class='wish'>
                    <div class='wish-title'>
                        {{ wish.title }}
                    </div>
                    <div class='wish-body'>
                        <div class='wish-description'>
                            {{ wish.description }}
                        </div>

                        <div class='wish-price'>
                            ₹{{ wish.price }}
                        </div>

                        <div class='wish-actions'>
                            {% unless user.isCheckingOut %}
                            <a class='button' href='/cart/remove/{{ wish.uuid }}'>
                                Remove from cart
                            </a>
                            {% endunless %}

                            <a class='button' href='/wishes/{{ wish.uuid }}'>
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class='wish error'>
                <div class='wish-title'>
                    No items in cart.
                </div>
                <div class='wish-body'>
                    Why don't you go <a href='/'>look at some wishes</a> to grant?
                </div>
            </div>
            {% endif %}
        </div>

        <div class='cart-actions'>
            Subtotal: ₹<strong>{{ subTotal }}</strong>
        </div>

        <noscript>
            You'll need to enable JavaScript to check out.
        </noscript>
        <div class='cart-actions'>
            {% if cartItems.length > 0 %}
            {% if user.isCheckingOut %}
            You've started a payment but not finished it.
            <a href="/profile/{{ user.uuid }}" class="href">Cancel it</a> and restart checkout.
            {% else %}
            <a class='button' href='/cart/checkout'>Check out</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</body>

</html>