<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Simple Wish - Checkout</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel='stylesheet'
        href="https://raw.githack.com/xyzshantaram/cf-alert/686f079384c245d8c8809688cb3e5b659730d304/style.css">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>

<body>
    <div class='header'>
        <span>Welcome, {{ user.name }}</span>
    </div>

    <div class='body-content'>
        <h1>Checkout</h1>
        {% if conflictingItems.length == 0 %}
        <p>
            Your payment will be processed via the Razorpay payment gateway. Click the button below to pay.
        </p>

        <button class='button' id="rzp-button">Pay ₹ {{ subTotal | divided_by: 100 }}</button>
        <button class='button' id="cancel-button">Cancel payment</button>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script type='module'>
            import cfa from "https://esm.sh/cf-alert";

            const orderId = "{{ orderId }}";

            const postJson = async (url, body) => fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(body),
                credentials: 'same-origin'
            });

            const replaceBody = async (res) => {
                const text = await res.text();
                document.body.innerHTML = text;
            }

            window.addEventListener('DOMContentLoaded', () => {
                const options = {
                    key: "{{ config.RAZORPAY_KEY_ID }}",
                    currency: "INR",
                    amount: "{{ subTotal }}",
                    name: "GirlUp One Simple Wish",
                    order_id: "{{ razorpayId }}",
                    handler: async (res) => {
                        const result = await postJson('/payment', {
                            ok: true, orderId,
                            signature: res.razorpay_signature,
                            razorpayId: res.razorpay_order_id,
                            paymentId: res.razorpay_payment_id
                        })
                        if (result.redirected) window.location.href = result.url;
                        else replaceBody(result);
                    },
                    theme: {
                        "color": "#B45F6D"
                    }
                }

                const razorpayClient = new Razorpay(options);
                razorpayClient.on('payment.failed', async (res) => {
                    const result = await postJson('/payment', {
                        ok: false,
                        orderId,
                        err: res
                    })

                    if (result.redirected) window.location.href = result.url;
                    else replaceBody(result);
                })

                document.querySelector('#rzp-button').onclick = () => {
                    razorpayClient.open()
                };

                document.querySelector('#cancel-button').onclick = async () => {
                    const result = await postJson('/payment', {
                        ok: false,
                        orderId,
                        err: {
                            error: {
                                "description": "Cancelled by user.",
                                "source": "customer",
                            }
                        }
                    })

                    if (result.redirected) window.location.href = result.url;
                    else replaceBody(result);
                }
            })
        </script>
        {% else %}
        <p>Looks like someone else already granted some of these wishes.</p>

        <p>We've removed the following items from your cart:</p>
        <ul>
            {% for wish in conflictingItems %}
            <li>
                <a href='/wishes/{{ wish.uuid }}'>
                    <strong>{{ wish.title }}</strong>
                </a>
            </li>
            {% endfor %}
        </ul>
        <p>Please restart the checkout process for the remaining items.</p>
        {% endif %}
    </div>
</body>

</html>