<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GU Grant a Wish - Error</title>

    <link rel="stylesheet" href="/static/css/base.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="body-content">
        <h1>Error</h1>

        <div style='margin-top: 1rem; margin-bottom: 1rem'>
            <a href='/'>Go home</a>
        </div>

        <img alt="HTTP cat - error: {{ message }}" src='https://http.cat/{{ code }}.jpg'>

        <details>
            <summary>
                {{ message }}
            </summary>
            <div class='details-body'>
                {{ info }}

                {% if errStack %}
                <pre>
                    {{ errStack }}
                </pre>
                {% endif %}
            </div>
        </details>
    </div>
</body>