<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GirlUp One Simple Wish</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class='header'>
        {% if user %}
        <span>
            Logged in as {{ user.name }} <a href='/auth/logout'>(Logout)</a>
        </span>
        <span>
            <a href='/cart'>Cart ({{ user.cart.length }})</a>
        </span>
        {% else %}
        <span>
            <a href='/auth'>Login</a>
        </span>
        {% endif %}
    </div>

    <div class="body-content">
        <h1>GirlUp - One Simple Wish</h1>

        <p>
            <strong>One Simple Wish</strong> is a fundraiser and our second annual event of the year.
            Kids in orphanages and youth homes are often stripped of choice and identity.
            Simple things like choosing a toy or book can help in honing individuality.
            Through this event, we aim to provide each child with one item of their choice.
        </p>

        <h2>Wishes</h2>
        <details id='wishes-filter'>
            <summary>Filter</summary>
            <div class='details-body'>
                <form method=GET>
                    <div class='form-group'>
                        <label for='price-min'>Price above</label>
                        <input id=price-min type=number name=price-min min=0>
                    </div>
                    <div class='form-group'>
                        <label for='price-max'>Price below</label>
                        <input id=price-max type=number name=price-max min=0>
                    </div>
                    <div class='form-group submit-group'>
                        <input type=submit value=Refine>
                    </div>
                </form>
            </div>
        </details>

        <div class='wishes'>
            {% for wish in wishes %}
            <div class='wish'>
                <div class='wish-title'>
                    {{ wish.title }}
                </div>
                <div class='wish-body'>
                    <div class='wish-description'>
                        {{ wish.description }}
                    </div>

                    <div class='wish-price'>
                        ₹{{ wish.price }}
                    </div>

                    <div class='wish-actions'>
                        <a class='button' href='/cart/add/{{ wish.uuid }}'>
                            Add to cart
                        </a>
                        <a class='button' href='/wishes/{{ wish.uuid }}'>
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>FAQs</h2>
        <details>
            <summary>
                A test question
            </summary>

            <div class='details-body'>
                test answer
            </div>
        </details>
        <h2>Our Partners</h2>

        <ul>
            <li>First partner</li>
            <li>Second partner</li>
        </ul>
    </div>
</body>

</html>