<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/cart.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>

<body>
    <div class='header'>
        <span class='right'><a href='/'>Back to homepage</a></span>
    </div>

    <div class='body-content'>
        <h1>{% if loggedInUser and loggedInUser.uuid == user.uuid %}Your{% else %}{{ user.name }}'s{% endif %} Profile
        </h1>

        {% if user.isCheckingOut and loggedInUser.uuid == user.uuid %}
        <h2>Pending order</h2>
        <code>{{ pendingOrder }}</code>
        <p>
            <a href='/cart/delete-order/{{ pendingOrder }}'>Cancel order</a> to continue.
        </p>
        {% endif %}

        <h2>Wishes granted: {{ granted.length }}</h2>
        <div class='wishes'>
            {% if granted.length > 0 %}
            <div class='wishes'>
                {% for wish in granted %}
                {% if wish.status == 2 %}
                <div class='wish'>
                    <div class='wish-title'>
                        {{ wish.title }}
                    </div>
                    <div class='wish-body'>
                        <div class='wish-description'>
                            {{ wish.description }}
                        </div>
                        {% if loggedInUser and loggedInUser.uuid == user.uuid %}
                        <div class='wish-price'>
                            ₹{{ wish.price }}
                        </div>

                        <div class='wish-actions'>
                            <a class='button' href='/wishes/{{ wish.uuid }}'>Wish page</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class='wish error'>
                {% if loggedInUser and loggedInUser.uuid == user.uuid %}
                <div class='wish-title'>
                    You've not granted any wishes yet.
                </div>
                <div class='wish-body'>
                    Why don't you go <a href='/'>look at some</a>?
                </div>
                {%else%}
                <div class='wish-title'>
                    {{ user.name }} has not granted any wishes yet.
                </div>
                {%endif%}

            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>